* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.header[data-page="products"], .header[data-page="login"] {

    justify-content: left;

}

.header__logo__search__bar {
    display: flex;
    align-items: center;
    gap: 20px;

}

.header__form {
    background-color: #F5F5F5;    
    width: 400px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.header__form__input {
    color: #A2A2A2;
    border: 1px solid transparent;    
    background-color: transparent;
    font-size: medium;
    padding-left: 20px;
    width: 90%;
}

.header__form__button {
    width: 10%;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    color: #A2A2A2;
}

.header__login__button {
    background-color: transparent;
    height: 40px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.hero {
    color: black;
    max-width: 100vw;
    height: 350px;
    background-image: url(/assets/images/banner-image.jpg);
    background-repeat: no-repeat;
    background-position: 20px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    gap: 20px;
    padding-top: 100px;
    background-color: #F5F5F5;
}

.hero__title {
    font-size: 50px;
}

.hero__description {
    font-size: large;
    font-weight: 700;
}

.hero__button__a {
    text-decoration: none;
    color: white;
    width: 150px;
    height: 50px;
}

.hero__button, .footer__form__button, .login__form__button, .add__product__form__button, .add__product__button, .edit__product__form__button {
    width: 150px;
    height: 50px;
    background-color: #2A7AE4;
    border: 1px solid transparent;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.main {
    background-color: #F5F5F5;
}

.products {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 50px;
}

.products__row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products__row__container {
    display: flex;
    gap: 20px;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 280px;
}

.products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;

}

.products__all {
    padding: 50px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.products__row__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__row__top__a{
    font-weight: 700;
    color: #2A7AE4;
    text-decoration: none;
    
}

.product__item:nth-child( 1n + 7) {
    background-color: #2A7AE4;
    display: none;
}

.product__item, .products__product__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    padding: 10px;
    
}

.products__product__item {
    
    align-items: center;
    position:relative;
}

.product__item__edit__button {
    position: absolute;
    top: 20px;
    right: 35px;
    background-color: transparent;
    border: 1px solid transparent;
    color: #2A7AE4;
    cursor: pointer;
}

.product__item__delete__button {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    top: 20px;
    right: 15px;
    color: #2A7AE4;
    cursor: pointer;
}

.product__item__name {
    font-size: medium;
    font-weight: 600;
}

.product__item__img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.product__item__a {
    color: #2A7AE4;
    text-decoration: none;
}

.footer__top {
    background-color: #EAF2FD;
    display: flex;
    min-height: 350px;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 50px;
    flex-wrap: wrap;
}



.footer__ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    font-weight: 600;
}

.footer__logo__ul {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 50%;
}

.footer__ul__li {
    list-style: none;
}

.footer__form, .login__form, .add__product__form, .edit__product__form {
    display: flex;
    flex-direction: column;
    width: 40%; 
    gap: 20px;
    min-width: 400px;
    
}

.login__form, .add__product__form, .edit__product__form {
    padding: 20px;

}

.login__form__button, .add__product__form__button, .edit__product__form__button {
    width: 100%;
}

.main-form {
    display: flex;
    max-width: 100vw;
    justify-content: center;
}

.footer__form__button:disabled, .login__form__button:disabled, .add__product__form__button:disabled {
    cursor:not-allowed;
}

.footer__form__item, .login__form__item, .add__product__form__item, .edit__product__form__item {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: small;
    padding: 10px;
    border-bottom: 1px solid #A2A2A2;
}

.footer__form__input, .login__form__input, .add__product__form__input, .edit__product__form__input{
    height: 40px;
    border: 1px solid transparent;
    font-size: medium;
    
}

.footer__form__error__message {
    height: 20px;
}

.footer__form {
    gap: 10px;
}

.footer__form__sent__message, .add__product__form__sent__message, .edit__product__form__sent__message{
    display: none;
    padding-top: 20px;
    color: #2A7AE4;
    font-weight: 700;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    height: 100px;
}

.products__details__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    width: 60vw;
    padding: 20px;
}

.products__details__section{
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    background-color: #F5F5F5;
}

.product__details__name {
    font-size: xx-large;
}

.product__details__img {
    width: 30vw;
    max-height: calc(100vh - 100px);
    object-fit: cover;
   
}

.product__details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__logo__search__bar > img {
    cursor: pointer;
}

#search__phone {
    display: none;
}

@media (max-width: 550px) {

    #search__phone {
        display: block;
    }
    .header__form {
        display: none;
    }

    .header__form {
        position: absolute;
        top: 120px;
        width: 90vw;
        border: 1px solid blue;

    }


    .header {
        gap: 20px;
        align-items: center;
    }

    .header__form__button{
        font-size: large;
    }

    .hero {
        padding: 20px;
        background-position: 0;
    }

    .products {
        padding: 10px;

    }

    .products__row {
        padding: 10px;
    }

    .products__row__container {
        gap: 5px;
        max-width: 100vw;
        flex-wrap: nowrap;
        height: 100%;
        
    }

    .product__item__img {
        width: 40vw;
        height: 40vw;
    }

    .footer {
        max-width: 100vw;

    }

    .footer__top {
        padding: 10px;
    }

    .footer__form {
        min-width: 0px;
        width: 80vw;
    }

    .products__all {
        padding: 20px;
        
    }

    .products__container {
        justify-content: center;
    }

    .products__product__item{
        width: 40%;
        
    }

    .products__details__container {
        flex-direction: column;
        height: fit-content;
    }

    .products__details__section{
        padding: 20px;
        height: fit-content;
    }
  }

  @media (min-width: 400px) and (max-width: 900px) {
 

    #search__phone {
        display: block;
    }
    .header__form {
        display: none;
        border: 1px solid blue;
    }

    .header__form {
        position: absolute;
        top: 120px;
        width: 90vw;

    }



  }